<div class="fixed-top" style="position: static; margin: 0;">
    <img class="" src="../assets/img/tgu.png" width="100%" height="50%" />
    <div id="marcoDegradado" class="fixed-top">
    </div>
</div>
<main role="main" class="container col-12">
    <!-- Masthead-->

    <header class="masthead col-12 text-white text-center my-5">

        <div class="container">
            <!-- Masthead Avatar Image-->

            <!-- Masthead Heading-->
            <h1 class="masthead-heading text-uppercase  mb-0">Realiza tus pedidos</h1>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/restaurante.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Restaurantes</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/supermercado.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Supermercado</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/farmacia.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Farmacias</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/ropa.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Ropa</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/zapatos.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Zapatos</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/tecnologia.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Tecnologia</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-5">
                        <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                            <img src="img/iconos/celular.png" class="card-img-top" alt="...">
                            <div class="card-body" style="font-size: x-large;">
                                <h5 class="card-title">Telefonos Celulares</h5>
                                <p class="card-text"></p>
                                <div id="estre">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Graphic Artist - Web Designer - Illustrator</p>
        </div>
    </header>

    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio" style="background-color: white;">
        <div class="container white">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 2-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/cake.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 3-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/circus.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 4-->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/game.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 5-->
                <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/safe.png" alt="..." />
                    </div>
                </div>
                <!-- Portfolio Item 6-->
                <div class="col-md-6 col-lg-4">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal6">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/img/portfolio/submarine.png" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="starter-template">

    </div>

</main>
<!-- /.container -->