body {
    padding-top: 0;
}

.container {
    width: 100%;
    background-color: #654878;
    padding: 0;
}

.container.white {
    width: 100%;
    background-color: white;
}

.masthead {
    margin-top: 0!important;
    padding-top: 2rem;
}

.starter-template {
    text-align: center;
}

.navbar {
    background-color: #654878!important;
}

#marcoDegradado {
    margin-top: 50px!important;
    background-color: rgb(255 255 255 / 42%)!important;
    position: fixed!important;
    margin-left: auto!important;
    float: right!important;
    margin-top: 70px!important;
    background-attachment: scroll;
}

.bg-morado {
    background-color: blueviolet!important;
}