<div class="masthead col-12 text-white text-center">
    <section class="productos" style="background-color: white!important;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 my-4" *ngFor="let producto of productosxtienda; let i= index">
                    <div class="card" id="" data-toggle="modal" data-target="#content" style="color:black;">
                        <img [src]="producto.icono" class="card-img-top" alt="...">
                        <div class="card-body" style="font-size: x-large;">
                            <h5 class="card-title tituloproductos">{{ producto.nombre}}</h5>
                            <p class="textoproductos">{{producto.informacion}}</p>
                            <button class="btn" (click)="DescripcionCompra(producto.id, DescripProducto)">Hacer pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<ng-template #DescripProducto let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Producto</h4>
        <button type="button" class="close btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="card-title tituloproductos">{{nombre}}</h5>
        <img src="{{icono}}" class="card-img-top" alt="...">
        <p class="textoproductos">{{descripcion}}</p>
        <form [formGroup]="">
            <div class="form-group ">
                <div class="input-group mb-3" style="height: 32px;">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="cantidadProd('-')"><i class="fas fa-minus"></i></button>
                    <input type="number" class="form-control text-center" formControlName="Cantidad" value='{{cantidad}}' aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="cantidadProd('+')"><i class="fas fa-plus"></i></button>
                    <small *ngIf=" " class="text-danger ">Ingrese 6 dígitos</small>
                </div>
                <!--div class="form-group">
                        <button type="submit" class="btn btn-outline-dark" [disabled]="!CodigoTK.valid" (click)="VerifiCod()" (click)="modal.dismiss('Cross click')">Verificar Codigo</button>
                    </div-->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Agregar</button>
    </div>

</ng-template>