.productos {
    width: 100%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.productos .btn {
    background-color: #FE5755!important;
    color: white;
    border-radius: 30px;
    width: 100%;
}

.card img {
    width: auto;
    height: 256px;
    border-bottom: 1px solid antiquewhite;
}

.card:hover {
    cursor: pointer;
}

.titulos {
    background-color: #FE5755;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 40%;
    color: white;
    height: 60px;
    align-items: center;
}

.busqueda {
    margin-top: 50px !important;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
    display: flex;
}

.container .textoproductos {
    font-size: medium;
    text-align: left;
}

.container .tituloproductos {
    text-align: left;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}