.categorias {
    width: 100%;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 30px;
}

.categorias .btn {
    background-color: #FE5755!important;
    color: white;
    border-radius: 30px;
}

.card img {
    width: auto;
    height: 256px;
    border-bottom: 1px solid antiquewhite;
}

.titulos {
    background-color: #FE5755;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 40%;
    color: white;
    height: 60px;
    align-items: center;
}

.container .textoTiendas {
    font-size: medium;
    text-align: left;
}

.container .tituloTiendas {
    text-align: left;
    font-weight: bold;
}


/*.titulos h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}*/